<%= form_with(model: lyric, local: true) do |form| %>
  <% if lyric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lyric.errors.count, "error") %> prohibited this lyric from being saved:</h2>

      <ul>
      <% lyric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br />

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :lyric_title, class: 'form-control', placeholder: 'Enter title of the song' %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :lyric_content, class: 'form-control txtarea' %>
  </div>

  <div class="field hide">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :lyric_user_id, :value => current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: 'form-control btn-primary' %>
  </div>
<% end %>
