<p id="notice"><%= notice %></p>

<h1>Lyrics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Is publish</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lyrics.each do |lyric| %>
      <tr>
      <td><%= lyric.title %></td>
        <td><%= lyric.content %></td>
        <td><%= lyric.is_publish %></td>
        <td><%= lyric.user %></td>
        <td><%= link_to 'Show', lyric %></td>
        <td><%= link_to 'Edit', edit_lyric_path(lyric) %></td>
        <td><%= link_to 'Destroy', lyric, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lyric', new_lyric_path %>
